
header {
    height: 70px;
    background-color: darkgray;

}


header h1 {
    color: black;
    margin-left: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


main {
    width: 80%;
    margin: 5% auto;
    background: whitesmoke;
}

article{
    background-color: white;
    border: solid grey 2px;
    margin: 1% auto;
    width: 95%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

article > h3 {
    font-size: 1em
}

article:hover {
    background: lightgray;
}