
header {
    background-color:lightgrey;
}

div {
    border-color: black 5px;
} 

main {
    border: solid black 2px;
}

h3 {
    font-style:italic;
}

.left{
    display: block;
    float:left;
    width: 70%;
  }

.right{
    display: block;
    float:right;
    width: 25%;
    height: 500px;
    border: solid black 2px;
  }